/* Theme styles.
 * =============
 * These are the separate styles for theme_waxed. They should not include
 * colours or any other variable that would be controlled by the theme preset
 * or settings.
 */

/* Give drawer an opaque background colour.
 * ----------------------------------------
 * Note: This breaks the rule above - cannot use opacity as that would affect
 * all child elements too, therefore uses a pale grey with alpha channel bkg. */
[data-region="drawer"] {
    background-color: rgba(100, 100, 100, 0.3);
}

/* Give headings in the header an outline shadow.
 * ----------------------------------------------
 * This ensures they will stand out whatever the background image used. */
header#page-header .page-header-headings h1 {
    text-shadow: $brand-primary 0 0 4px;
}

/* Centre the social icons in the footer.
 * -------------------------------------- */
.socials_wrapper {
    margin: 0 auto;
    .socials {
        text-align: center;
        margin-bottom: 0;
    }
}

/* Correct header navbar height bug.
 * --------------------------------- */
.navbar {
    padding: 10px 15px 15px;
    .navbar-brand {
        padding-top: 0;
    }
}

/* Give page header border and radius.
 * ----------------------------------- */
#page-header {
    .card {
        border-radius: $border-radius-lg;
        border: 3px solid $brand-primary;
        box-shadow: 2px 2px 2px $brand-info;

    }
}


/* LOGIN PAGE STYLING.
 * =================== */

/* Hide the page footer on the login page.
 * ---------------------------------------
 * This could be done by removing the footer from the layout/template in the
 * first place, but this is simpler in the first instance. */
#page-login-index footer#page-footer {
    display: none;
}

/* Add border radius, border and box-shadow to login box.
 * ------------------------------------------------------
 * Use brand-colours so they can be overridden by presets/settings. */
#page-login-index {
    .card {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-radius: $border-radius-lg * 2;
        border: $brand-primary solid 4px;
        box-shadow: 6px 6px 3px $brand-info;
        .card-title {
            border-bottom: 1px solid $brand-primary;
        }
    }
}

/* DEFAULT IMAGE SETTINGS STYLING.
 * =============================== */
body {
    background-size: 100% 100%;
}
header#page-header .card,
header#page-header .card .withimage {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
